/* **************************************************

                     Featured

***************************************************** */


.featured .col-lg-4{
  padding-right: 0px;
  padding-left: 0px;
}
.featured_column_left{
  padding-right: 10px;
}
.featured_column_right{
  padding-left: 10px;
}
.featured_column_between{
  padding-left: 10px;
  padding-right: 10px;
}


.featured_left1{
  height: 400px;
  background: url("../pictures/featured 1.jpg")bottom no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  position: relative;
}
.featured_left1 div{
  position: absolute;
  border: 3px solid white;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
}
.featured_left2{
  height: 400px;
  background: url("../pictures/featured2.jpg")no-repeat;
  background-size: cover;
  position: relative;
}
.featured_left2 div{
  position: absolute;
  border: 3px solid white;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
}
.featured_between{
  background: url("../pictures/featured3.jpg")no-repeat;
  background-position: calc(100% + 15px) 0;
  background-size: cover;
  position: relative;
  height: 820px;
  width: 100%;
}
.featured_between div{
  position: absolute;
  border: 3px solid white;
  top: 2%;
  left: 4%;
  height: 96%;
  width: 92%;
}
.featured_right1{
  height: 400px;
  background: url("../pictures/featured4.jpg")no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  position: relative;
}
.featured_right1 div{
  position: absolute;
  border: 3px solid white;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
}
.featured_right2{
  height: 400px;
  background: url("../pictures/featured5.jpg")no-repeat;
  background-size: cover;
  position: relative;
}
.featured_right2 div{
  position: absolute;
  border: 3px solid white;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
}

@media (max-width: 1024px) {
  .featured_between {
    background-position: calc(100% + 102px) 0;
  }
}
@media (max-width: 991px) {
  .featured_column_left{
    padding: 0;
  }
  .featured_left1{
    margin-bottom: 5px;
    height: 100vw;
  }
  .featured_left2{
    margin-bottom: 5px;
    height: 100vw;
  }
  .featured_column_between{
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .featured_between{
    height: 200vw;
    background-position-x: -30px;
  }
  .featured_column_right{
    padding: 0;
  }
  .featured_right1{
    margin-bottom: 5px;
    height: 100vw;
  }
  .featured_right2{
    height: 100vw;
  }
}