/* **************************************************

                       HEADER

***************************************************** */

header{
  background-color: #f2f2f2
}
.header_container{
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2
}
.header_left{
  font-size: 11px;
  display: flex;
  justify-content: space-between;
}
.header_left i{
  margin-left: 7px;
  margin-right: 20px;
}
.header_right ul{
  margin-right: 30px;
}
.header_right a{
  color: black;
  font-size: 11px;
  font-family: $lato;
  font-weight: 900;
  text-transform: uppercase;
}
.header_right li{
  margin-left: 60px;
}
.header_right li:nth-child(-n+3)::after{
  content: '';
  color: black;
  width: 1px;
  height: 8px;
  background-color: black;
  display: inline-block;
  position: relative;
  left: 30px;
}