
/* **************************************************

                     NAVIGATION

***************************************************** */


.nav_container{
  height: 128px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav_container::after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 200px 0 200px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  left: 440px;
  right: 440px;
  top: 128px;
  z-index: 2;
}
.nav_menu{
  display: flex;
  justify-content: space-between;
}
.nav_menu a{
  color: black;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 18px;
  margin-right: 25px;
}
.nav_logo p{
  font-family: 'Pacifico', cursive;
  font-size: 72px;
  color: black;
}
.nav_icons{
  display: flex;
  justify-content: center;
  margin-left: 23px;
}
.nav_icons i{
  color: #d9bf8f;
  width: 34px;
  height: 34px;
  border:2px solid #d9bf8f;
  border-radius: 50%;
  text-align: center;
  line-height: 31px;
  margin-right: 12px;
}
.nav_icons select{
  height: 35px;
  width: 90px;
  background-color: black;
  color: white;
  font-family: $lato;
  font-size: 12px;
  font-weight: bold;
  text-align-last:center;
  border: none;
  margin-bottom: 3px;
  margin-left: 52px;
}

@media (max-width: 991px) {
  .nav_container::after{
    right: 25%;
    left: 25%;
  }
}